[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
# keep this in sync with pipenv in the Containerfile
pipenv = "==2020.11.15"
# open question: can we work with 'ray = "*"' here?
ray = { version = "*", extras = [ "default" ] }
# general ray deps
cython = "*"
flatbuffers = "*"
# ray operator deps
kubernetes = "*"
boto3 = "*"
kopf = "*"

[dev-packages]

[pipenv]
allow_prereleases = true
